* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
      background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/leaves-pattern.png);
      background-size: 500px;
  }





@import "header.scss";
@import "footer.scss";
@import "botella.scss";
@import "contaminacion.scss";
@import "formulario.scss";
@import "index.scss";
@import "dondeencontrarnos.scss"
